.MuiDataGrid-root {
    width: 100%;
}

.MuiDataGrid-cell {
    background-color: #FFFFFF;
}

.MuiDataGrid-cellContent {
    font-family: Lato;
}

.MuiDataGrid-columnHeaderTitle,.css-1usso8h-MuiDataGrid-root,.MuiDataGrid-footerContainer  {
    font-family: Lato;
}
