.container {
    height: 80vh;
}

.MuiDataGrid-cell {
    background-color: #FFFFFF;
    padding: 20px auto;
}

.MuiDataGrid-row {
    margin: 3px 0;
    padding: 20px auto;
}

.MuiDataGrid-cellContent {
    font-family: Lato;
}

.MuiDataGrid-columnHeaderTitle,.css-1usso8h-MuiDataGrid-root,.css-pdct74-MuiTablePagination-selectLabel {
    font-family: Lato;
    font-weight: 1000;
    font-size: 0.875rem;
}
