header {
    width: 80%;
    height: 6%;
    left: 11rem;
    top: 2rem;
    background: rgba(255, 255, 255, 0.9);
}

p {
    width: 288px;
    height: 36px;
    left: 182px;
    top: 9rem;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}